version: "3.3"

services:
  db:
    image: mariadb:latest
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: MyDBRoot123
      MYSQL_DATABASE: cloud_computing
      MYSQL_USER: php
      MYSQL_PASSWORD: php
    networks:
      - mynet

  redis:
    image: redis:latest
    container_name: myredis
    restart: always
    networks:
      - mynet

  php:
    build:
      context: ./src/php          
      dockerfile: dockerfile
    container_name: myphp
    restart: always
    ports:
      - "9000:9000"
    volumes:
      - ./src:/var/www/html       
    depends_on:
      - db                        
      - redis
    networks:
      - mynet

  nginx:
    image: nginx:latest
    container_name: mynginx
    restart: always
    depends_on:
      - php                       
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
      - ./src/nginx.ini:/etc/nginx/conf.d/default.conf
    networks:
      - mynet

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin
    restart: always
    ports:
      - "8082:80"
    environment:                  
      PMA_HOST: mysql             
      PMA_USER: php
      PMA_PASSWORD: php
    depends_on:
      - db
    networks:
      - mynet

networks:
  mynet:
    driver: bridge
